__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.log
*.txt
*.yaml
*.yml
*.ini
*.cfg

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store
.idea
.vscode

.venv
.env
